body {
    margin: 0px;
}

header {
    background-color: #601495;
    box-shadow: #00000066 0px 4px 15px;
}

#mainTitle {
    margin: 0px;
    text-align: left;
    padding-top: 86px;
    padding-left: 64px;
    padding-bottom: 32px;
    font-size: 42px;
    color: #ffffffff;
}

#navigation {
    display: flex;
    flex-direction: row;
}

#navigation p {
    height: 32px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 8px;
    font-size: 20px;
    border-right: #00000033 solid 2px;
    display: flex;
    flex-direction: column-reverse;
}

#navigation p a {
    text-align: center;
    text-decoration: none;
    color: #ffffffdd;
}

article {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    height: 600px;
    width: 800px;
    border: #000000 solid 1px;
    border-radius: 10px;
    box-shadow: #00000088 5px 5px 15px;
    margin-bottom: 300px;
}