<section>
    <a href="#firstGame"><article>
        <h1>Avoid the balls</h1>
        <image src="src/images/firstGame.png" alt="Avoid the balls" height="250" width="400"></image>
    </article></a>
    <a href="#secondGame"><article>
        <h1>3D Scene</h1>
        <image src="src/images/secondGame.png" alt="3D scene" height="250" width="400"></image>
    </article></a>
    <a href="#thirdGame"><article>
        <h1>Minecraft</h1>
        <image src="src/images/thirdGame.png" alt="Minecraft" height="250" width="400"></image>
    </article></a>
    <a href="#fourthGame"><article>
        <h1>Snake</h1>
        <image src="src/images/fourthGame.png" alt="Snake" height="250" width="400"></image>
    </article></a>
</section>